<header class="d-flex justify-content-center py-3 sticky-header">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/index" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/projects" class="nav-link">Projects</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link active" aria-current="page">Contact</a></li>
    </ul>
</header>