<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marek Cieloch - Portfolio</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <%- include(headerProjects) %>

        <div class="center-text">
            Click on the button to see projects
            CRUD + MongooseDB
        </div>

        <div class="centered-container">

            <div class="grid">

                <a class="btn btn-primary" type="button" href="/projects/job-tracker">Job Application Tracker</a>
                <a class="btn btn-primary" type="button" href="/projects/employees">Employees Database</a>
            </div>
        </div>
        <div class="centered-container">

            <div class="grid">

                <!--<a class="btn btn-primary" type="button" href="/projects/fetchapi">ISS API</a>-->
                <a class="btn btn-primary" type="button" href="/projects/boredAPI">Bored API</a>
                <a class="btn btn-primary" type="button" href="/projects/secretsAPI">Secrets API</a>
            </div>
        </div>


        <%- include(footer) %>


            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>

            <script src="js/scripts.js"></script>
</body>

</html>