#app {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

#controls {
  margin: 20px 0;
}

button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

#apiInput {
  margin-top: 10px;
  padding: 10px;
  width: 60%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#apiParameters {
  margin-top: 10px;
  padding: 10px;
  width: 60%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#output {
  margin-top: 20px;
  text-align: left;
}

pre {
  background-color: #272822;
  color: #f8f8f2;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 1000; /* Ensures it stays above other content */
  padding: 10px 20px;
}
