<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marek Cieloch - Portfolio</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <header class="d-flex justify-content-center py-3 sticky-header">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/index" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/projects" class="nav-link">Projects</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        </ul>
    </header>


    <div id="footer"></div>
    <script src="js/scripts.js"></script>