<%- include(header) %>
    <!-- Page content -->
    <%- include(footer) %>
        <header class="d-flex justify-content-center py-3 sticky-header">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="index" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="/projects" class="nav-link">Projects</a></li>
                <li class="nav-item"><a href="contact" class="nav-link">Contact</a></li>
            </ul>
        </header>
        <footer class="py-3 my-4" id="bottom">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-body-secondary">Home</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.linkedin.com/in/marek-cieloch-82bb85181/"
                        class="nav-link px-2 text-body-secondary">LinkedIn</a>
                </li>
                <li class="nav-item">
                    <a href="mailto:mdcieloch@gmail.com" class="nav-link px-2 text-body-secondary">
                        Email
                    </a>
                </li>
            </ul>
            <p class="text-center text-body-secondary">@Marek Cieloch</p>
            <p class="text-center text-body-secondary">Email: mdcieloch@gmail.com</p>
        </footer>
        <script src="js/scripts.js"></script>